@font-face {
    font-family:'Circular';
    src:url('fonts/circular.otf');
  }
  
  @font-face {
    font-family:'Europa';
    src:url('fonts/Europa-Regular.otf');
  }
  
  @font-face {
    font-family:'Europa-Bold';
    src:url('fonts/Europa-Bold.otf');
  }
  
  
  @font-face {
    font-family:'Circular-Bold';
    src:url('fonts/circular-bold.otf');
  }

body {
    margin: 0;
    padding:0;
    min-height: 100% ;
    background: none;
    min-width: 100%;
    padding-bottom: 60px;
  }
  
  html {
      min-height: 100% ;
      min-width: 100%;
      margin: 0 ;
      padding: 0 ;
      background: #FBFBFB;
  }
  
  
  .wrapper {
    min-height: 100%;     
    width: 100%;

    position: absolute;
    top:0;
    padding-bottom: 60px;

    -moz-animation: fadein 1.2s; /* Firefox */
    -webkit-animation: fadein 1.2s; /* Safari and Chrome */
    -o-animation: fadein 1.2s; /* Opera */
}


@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

.confetti {
  min-height: 100%;
  width: 100%;
  background: url("./images/uhmok.svg") repeat center;
  z-index: -1;
  opacity: 0.1;
  /* 

  position: absolute;
  top:0; */
  position: absolute;
  top: 0;
}

  .container {
    width: 70%;
    margin: 0 auto;
  }

  .title {
      font-family: "Circular-Bold";
      font-size: 20px;
      display: inline-block;
  }

  .title::after {
    content: "";
    position: relative;
    bottom: 2px;
    width: 100%;
    display: block;
    height: 3px;
    background: #cc5e14;
    z-index: 0;
  }

  .title-big {
    font-family: "Circular-Bold";
    font-size: 30px;
  }

  .title-box {
    display: flex;
    flex-shrink: 0;
  }

  .title-box img {
    border: none;
    position: relative;
    bottom: 3px;
    padding:0; 
    margin: 0;
  }

  .title-box img {
    border: none;
    position: relative;
    bottom: 22px;
    left: 8px;
    padding:0; 
    margin: 0;
  }

  .date {
      font-family: 'Europa';
      color: #5B5B5B;
  }

.summary {
    font-family: 'Europa';
    font-size: 15px;
    margin-top: 20px;
}

.bold {
    font-family: 'Europa-Bold'
}

  .content {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
  
    display: flex;
    flex-direction: column;
  }

  .paragraph {
    margin-top: 60px;
  }


  .split-box {
    display: flex;
    flex-direction: row;
  }

  .split-box .summary-box {
    margin-top: 30px;
    margin-left: 50px;

  }


  li{
    list-style-position: outside;
    padding-left: 0.5em;
    margin-bottom: 10px;
  }

  .screenshots img {
      border: 1px solid #dedede;
  }

  .screenshots {
      margin-top: 40px;
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      flex-grow: 0;
  }

  .image-box{
    display: flex;
    flex-direction: column;
    font-family: 'Europa';
    text-align: center;
}

.image-box img {
    margin-bottom: 13px;
    border: none;
    /* border-bottom: 4px solid salmon; */
}
  

  li{
    font-family: 'Europa';
    font-size: 15px;
    list-style-position: outside;
    padding-left: 0.5em;
    margin-bottom: 10px;
  }

  /* header css */
  .header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .name {
    font-family: 'Circular-Bold';
    font-size: 18px;
  }



  .name a, .name a:visited, .name a:active {
    text-decoration: none;
    color: black;

    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.name a:hover {
    color: #F6663F;
    transition: opacity .55s ease-in-out;
-moz-transition: opacity .55s ease-in-out;
-webkit-transition: opacity .55s ease-in-out;
}


.image-grid {
    margin: 30px auto;
    min-height:800px;
    display:grid;
    grid-template-columns: 400px 400px;

    grid-row: auto auto;
    grid-template-rows: 500px 500px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.box1 p,.box2 p,.box4 p {
    font-family: 'Europa-Bold';
    position: relative;
    top: 400px;
    left: 40px;
    color: #F6663F;
}

.box3 p{
    font-family: 'Europa-Bold';
    position: relative;
    top: 400px;
    left: 250px;
    color: #F6663F;
}

.box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-image: url("./images/iterative/sketch1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.box2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url("./images/iterative/sketch2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.box3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-image: url("./images/iterative/sketch3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.box4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: url("./images/iterative/sketch4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.screen-grid {
    margin: 20px auto;
    display:grid;
    grid-template-columns: 400px 400px;

    grid-row: auto auto;
    grid-template-rows: 300px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.screen1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url("./images/iterative/screen0-copy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.screen2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url("./images/iterative/screen1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.screen3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: url("./images/iterative/screen2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}



img {
    margin-top: 30px;
    margin-bottom: 20px;
    /* border: 2px solid #ececec; */
/* 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.summary a, .summary a:visited, .summary a:active {
    color: #F6663F;
    text-decoration: none;
    border-bottom: 1px #F6663F dotted;
  }
  
  .summary a:hover {
    color: #F6663F;
    font-family: 'Europa-Bold';
  }

  .back2top{
    font-family:'Europa';
    margin: 0 auto;
    margin-top: 50px;
    font-size: 13px;
  }
  
  .back2top a, .back2top a:visited, .back2top a:active {
    text-decoration: none;
    color: black;
    
  
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  
  .back2top a:hover {
    color: #F6663F;
    border-bottom: 1px #F6663F dotted;
    transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
  }